#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.newline{
  display: block;
  padding: 12px 20px;
  margin-top: 12px;
  width: 100%
}

.btn-color{
  background:grey;
  border: 1px solid black;
  margin-left: auto;
  
}